{% extends 'base.html.twig' %}

{% block title %}All Rooms{% endblock %}

{% block body %}

    <div class="jumbotron">
    <h1 class="text-center">Analytics For Rooms</h1>
        <h3 class="text-center">Here you can view analytics of the meetings rooms in the Univeristy of Salford.</h3>
    </div>

    <div class="text-center">
        <div class="col-md-3">
            <select style="width: 100%;" id="buildingDropDown" class="btn btn-secondary dropdown-toggle">
                <option value=""> - Please pick a building - </option>
                {% for building in bulidings %}
                    <option value="{{ building.id }}">{{ building.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-3">
           <select style="width: 100%" id="roomDropDown" class="btn btn-secondary dropdown-toggle" disabled="disabled">
          </select>
        </div>

        <div class="col-md-2">
            <input type="text" class="btn btn-default" id="fromDatePicker" placeholder="Date From" disabled="disabled">
        </div>

        <div class="col-lg-2">
            <input type="text" class="btn btn-default" id="toDatePicker" placeholder="Date To" disabled="disabled">
        </div>

        <div class="col-md-2">
            <button id="submit" class="btn btn-success" disabled="disabled">Go</button>
        </div>


        <div class="col-md-12" id="roomScansContainer"></div>
        <div class="col-md-12" id="scansBreakDownContainer"></div>

        <div class="col-lg-12" id="popularContainer" style="display: none">
            <div class="col-md-6" class="text-center" style="height: 400px; display: flex; justify-content: center; align-items: center;">
                <div class="row">
                    <h1>Most Popular Date:</h1>
                    <h1 style="font-size: 100px" id="mostPopularDate"></h1>
                    <h3>(from scans)</h3>
                </div>
            </div>
            <div class="col-md-6" class="text-center" style="height: 400px; display: flex; justify-content: center; align-items: center;">
                <div class="row">
                    <h1>Most Popular Time:</h1>
                    <div style="font-size: 100px" id="mostPopularTime"></div>
                    <h3>(from scans)</h3>
                </div>
            </div>
        </div>

        <div class="col-md-12" id="bookingsMadeContainer"></div>

        <div class="col-md-12" id="cancelledBookingsContainer"></div>

    </div>


    <script>
        document.apiKey = "{{ api_key }}";
    </script>
    {% javascripts
        '@WebBundle/Resources/public/js/highcharts.js'
        '@WebBundle/Resources/public/js/room.js'
        '@WebBundle/Resources/public/js/calendar.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

