{% block body %}
    <h1>Forbidden</h1>

    <p>
        Only admin users are allowed to access this website.
         To return to login page click <a href="{{ path('login') }}">here</a>.
    </p>
{% endblock %}