<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}UoS Room Booking{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
            'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
            '//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css'
        %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
    {% endblock %}
    {% javascripts
        'https://code.jquery.com/jquery-3.3.1.js'
        'https://code.jquery.com/ui/1.12.1/jquery-ui.js'
        'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
        'https://code.highcharts.com/highcharts.js'
        'https://code.highcharts.com/modules/series-label.js'
        'https://code.highcharts.com/modules/exporting.js'
        'https://code.highcharts.com/modules/no-data-to-display.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container">
    {% if app.user %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">UoS</a>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="{{ path('room') }}">Rooms</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="{{ path('admin') }}"><strong>Dashboard</strong></a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_logout') }}">Login/Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% endif %}

    <div class="row">
        <section class="col-md-12">
            {% block body %}{% endblock %}
        </section>
    </div>
    <hr>
    <div class="footer text-center">
        {% block footer %}
            <p>Mohammed Shamiual Hoque - Final Year Project - Computer Science</p>
        {% endblock %}
    </div>
</div>
</body>
</html>

