{% extends 'base.html.twig' %}

{% block title %}All Rooms{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="text-center">Uos Analytics of Meeting Rooms</h1>
        <h3 class="text-center">View analytics of how busy certain meetings are here in the Uos</h3>
    </div>

    <div class="col-md-12">
        <div id="allBuildingsTotalScansContainer"></div>
    </div>

    <div class="col-md-12">
        <div id="buildingBreakDownContainer"></div>
    </div>

    <div class="col-md-12">
        <div class="col-md-6">
            <div id="mostPopularBuildingContainer" style="width: 100%; height: 100%;"></div>
        </div>
        <div class="col-md-6">
            <div id="topFiveRoomsContainer" style="width: 100%; height: 100%;"></div>
        </div>
    </div>

    <script>
        document.apiKey = "{{ api_key }}";
    </script>

    {% javascripts
        '@WebBundle/Resources/public/js/highcharts.js'
        '@WebBundle/Resources/public/js/homepage.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}