{% extends 'base.html.twig' %}

{% block title %}Setting{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="text-center">Settings</h1>
        <h3 class="text-center">Here you can adjust the colour scheme of this website to you liking.</h3>
    </div>

    <div class="col-md-12 text-center">
        <div>
            <h3>Primary Colour: </h3>
        </div>
        <input type="color">
    </div>

    <div class="col-md-12 text-center">
        <div>
            <h3>Secondary Colour: </h3>
        </div>
        <input type="color">
    </div>

    <div class="col-md-12 text-center">
        <div>
            <h3>Text Colour: </h3>
        </div>
        <div>
            <input type="color">
        </div>
    </div>

    <br>

    <div class="col-md-12 text-center">
            <button class="btn btn-default">Submit</button>
    </div>

    <h1>{{ primany }}</h1>
{% endblock %}