{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="alert alert-warning text-center">{{ error }}</div>
{% endif %}

<div class="container">
<div class="row">
    <div class="col-md-offset-4 col-sm-3">
        <h1 class="">Please Sign in</h1>
        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" class="form-control" />
            </div>

            <div class="form-check">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>

            <input class=" btn btn-default" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </form>
    </div>
</div>
</div>